<VirtualHost *:80>
	ServerAdmin webmaster@localhost

	DocumentRoot /var/www/cronus-webappc
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory /var/www/cronus-webappc/>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	LogLevel warn

	# Apache logs
	ErrorLog /var/log/apache2/cronus_webappc_error.log
	CustomLog /var/log/apache2/cronus_webappc_access.log combined
</VirtualHost>
