;
; BIND data file for platform dns interface
;
$TTL    60
@       IN      SOA     ns1.XXDOMAINXX. root.XXDOMAINXX. (
                         2011052007     ; Serial
                         3H             ; Refresh
                         15M            ; Retry
                         1W             ; Expire
                         1D      )      ; Negative Cache TTL

@               IN      NS      ns1
@               IN      MX  5   mail
@               IN      MX  20  mail
@               IN      A       XXDNSIPXX
ns1             IN      A       XXDNSIPXX
