# Configuratoin for Cronus-Infra SSL VirtualHost

<VirtualHost *:443>
        ServerAdmin webmaster@localhost

        DocumentRoot /var/www/cronus-infra
        <Directory /var/www/cronus-infra/>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>

        LogLevel warn

        # Apache logs
        ErrorLog /var/log/apache2/cronus_infra_ssl_error.log
        CustomLog /var/log/apache2/cronus_infra_ssl_access.log combined

        # Using SSL
        SSLEngine on

        # SSL Certificate files
        SSLCertificateFile    /etc/ssl/certs/ssl-cert-snakeoil.pem
        SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
</VirtualHost>
